{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{# {% load static %}#}
{#<img src="{% static 'img/IMG_2795.png' %}" alt="Mon image" />#}
<section class="clearfix bg-dark profileSection">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-5 col-xs-12">
				<div class="dashboardBoxBg mb30">
					<div class="profileImage">
						<img src="../../../static/img/strika_small.PNG" alt="Image User" class="img-circle">
						<div class="file-upload profileImageUpload">
							<div class="upload-area">
								<input type="file" name="img[]" class="file">
								<button class="browse" type="button">Upload a Picture <i class="icon-listy icon-upload"></i></button>
							</div>
						</div>
					</div>
					<div class="profileUserInfo bt profileName">
						<p>Your Current Plan</p>
						<h2>Platinum Package</h2>
						<h5>Next Payment: <span>15/01/2017</span></h5>
						<a href="#" class="btn btn-primary">Change</a>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-7 col-xs-12">
				<form method="post" action="{% url "nurse" user.id%}" enctype="multipart/form-data" >
                    {% csrf_token %}

					<div class="dashboardBoxBg mt30">
						<div class="profileIntro">
							<h3>About You</h3>
							<div class="row">
                                {% for field in form %}
{#                                    {% if field.name in 'first_name,last_name,email,date_of_birth' %}#}
                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for={{ field.name }} class="control-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
{#                                    {% endif %}#}
                                {% endfor %}
{#								<div class="form-group col-sm-6 col-xs-12">#}
{#									<label for="phoneProfile">Phone</label>#}
{#									<input type="text" class="form-control" id="phoneProfile">#}
{#								</div>#}
							</div>
						</div>
					</div>
					<div class="btn-area mt30">
						<button class="btn btn-primary" type="submit">Save Change</button>
					</div>
					<div class="dashboardBoxBg mt30">
						<div class="profileIntro">
							<h3>Update password</h3>
							<div class="row">
								<div class="form-group col-xs-12">
									<label for="currentPassword">Current Password</label>
									<input type="password" class="form-control" id="currentPassword" placeholder="********">
								</div>
								<div class="form-group col-xs-12">
									<label for="newPassword">New Password</label>
									<input type="password" class="form-control" id="newPassword" placeholder="New Password">
								</div>
								<div class="form-group col-xs-12">
									<label for="confirmPassword">Confirm Password</label>
									<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
								</div>
								<div class="form-group col-xs-12">
									<button class="btn btn-primary" type="button">Change Password</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}